body {
    background-color: rgb(231, 223, 199);
    margin: 0;
    padding: 0;
}

* {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

#container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#maketodo {
    border: 5px solid rgba(0, 0, 0, 0.219);
    border-radius: 15px;
    width: 700px;
    height: 40px;
    margin-right: 20px;
    background-color: rgb(204, 197, 176);
    display: flex;
    padding: 20px;
}

#todo {
    background: none;
    border: none;
    outline: none;
    width: 700px;
}

input {
    color: rgb(73, 66, 57);
    font-size: 35px;
    
}

#title {
    color: rgb(131, 122, 93);
    text-align: center;
}

#submit {
    border: 5px solid rgba(0, 0, 0, 0.219);
    border-radius: 15px;
    background-color: rgb(204, 197, 176);
    width: 50px;
    height: 50px;
    padding: 10spx;
    margin: 0px;
}

#submitbutton {
    text-align: center;
    background: none;
    outline: none;
    border: none;
    font-size: 40px;
    padding: 10px;
    height: 50px;
}

